﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

        .progress div {
            font-size: smaller;
            background: orange;
            width: 0;
        }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}




.label-userprimary
{
    font-size:medium;
    color: #3a7682;
    padding-top: 5px;

}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
fieldset.for-panel {
    background-color: #fcfcfc;
	border: 1px solid #999;
	border-radius: 4px;	
	padding:15px 10px;
	background-color: #d9edf7;
    border-color: #bce8f1;
	background-color: #f9fdfd;
	margin-bottom:12px;
}
fieldset.for-panel legend {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #4381ba;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin: inherit;
    padding: 7px;
    width: auto;
	background-color: #d9edf7;
	margin-bottom: 0;
}


table#dut01, th, td {
    border: 1px solid double;
    border-collapse: collapse;
}

table#dut01, th, td {
    padding: 5px;
    text-align:center;
}

#userstable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height:initial;
    overflow-y: scroll;
    overflow-x:auto;
}

#userstable td, #userstable th {
    border: 1px solid #ddd;
    padding: 5px;
}

#userstable tr:nth-child(even){background-color: #d9fadb;}

#userstable tr:hover {background-color: #ddd;}

#userstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


#videotable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height:initial;
    overflow-x:auto;
}

#videotable td, #videotable th {
    border: 1px solid #ddd;
    padding: 5px;
}

#videotable tr:nth-child(even){background-color: #ef9a9a;}

#videotable tr:hover {background-color: #e4d0d0;}

#videotable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d95454;
    color: white;
}

ul#useredit_menu
 {
   padding-top:50px;
    border-radius: 15px;
    margin-top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 120px;
}


ul#useredit_menu li a {
    border-radius: 15px;
    display: block;
    color: #4381ba;
    font-size:medium;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 10px;

}

ul#useredit_menu li a.active {
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
}

ul#useredit_menu li a:hover:not(.active) {
    border-radius: 15px;
    background-color: #555;
    color: white;
}

   
div.planet-search {
    line-height : 2;
    background-color:#4d9fb0;
    width:98%;
    color:#1e21b6;
    border-radius:8px;
} 
div.planet-data {
    padding-top:20px;
} 
.red {
  background-color: red;
}