﻿
@{
    ViewBag.Title = "Copyme Golf User content Migration to Copyme";
}


    <div ng-controller="golfusers" class="table-responsive">

    <div class="container">
        <div class="row text-right">
            <label id="displaystatus" class="text-danger" ng-bind="displaystatus"> </label>
        </div>
        <div class="row" style="background-color:antiquewhite; padding-top:10px">
            <div class="col-lg-3"><h5>Select Golf Users Range max 90000</h5></div>
            <div class="col-lg-2"><span class="text-danger text-left"> From </span><input type="number" min="1" max="90000"ng-model="userfromID"  /></div>
            <div class="col-lg-2"><span class="text-danger text-left">To </span><input type="number" min="1" max="90000" ng-model="userendID" /></div>
            <div class="col-lg-2"><input type="button" value="Get Users" ng-click="getuserslist()" /></div>
            <div class="col-lg-2"><input type="button" value="convert" ng-click="updateuserandvideos()" /></div>
            <div class="col-lg-1"><input type="button" value="Break" ng-click="Breakupdateuserandvideos()" /></div>
        </div>  
        <div class="row">
                <div class="col-lg-8"></div>
                
            </div>
    </div>
    <div style="overflow-y: scroll; overflow-x:auto; height:350px">
        <table id="userstable" ng-show="waitdisplay" height="350">
            <tr>
                <!-- "ID": 3165, "FirstName": "Atsuko ", "LastName": "Tamura", "Email": "atamura@IKKOS.com",
                "Password": "momouse", "Gender": 0, "ProfilePicUrl": ""    -->
                <th a href="" ng-click="orderByField='ID'; reverseSort = !reverseSort"> ID</th>
                <th a href="" ng-click="orderByField='FirstName'; reverseSort = !reverseSort">First Name</th>
                <th a href="" ng-click="orderByField='LastName'; reverseSort = !reverseSort">Last Name</th>
                <th a href="" ng-click="orderByField='Email'; reverseSort = !reverseSort">Email</th>
                <th a href="" ng-click="orderByField='Gender'; reverseSort = !reverseSort">Gender</th>
                <th a href="" ng-click="orderByField='CreatedDate'; reverseSort = !reverseSort">Created</th>

                <th a href="" ng-click="orderByField='updatestatus'; reverseSort = !reverseSort">Updated Status</th>

            </tr>
            <tr ng-repeat="User in Userlist | filter: searchKeyword | orderBy:orderByField:reverseSort" >
                <td>{{User.ID}}</td>
                <td>{{User.FirstName}}</td>
                <td>{{User.LastName}}</td>
                <td>{{User.Email}}</td>
                <td>{{User.Gender}}</td> 
                <td>{{User.CreatedDate | date }} {{User.CreatedDate | date: 'hh:mm' }}</td>
                <td>{{User.updatestatus}}</td>
            </tr>
        </table>
        <br />
    </div>
        <br />
        <div style="overflow-y: scroll; overflow-x:visible; height:450px">
            <table id="videotable" ng-show="videowaitdisplay" height="350">
                <tr>
                    <!-- "ID  MovementName  ActorName Format Duration VideoURL ThumbNailURL
                         * Status CreatedBy   -->
                    <th a href="" ng-click="orderByField='ID'; reverseSort = !reverseSort"> ID</th>
                    <th a href="" ng-click="orderByField='MovementName'; reverseSort = !reverseSort">MovementName</th>
                    <th a href="" ng-click="orderByField='ActorName'; reverseSort = !reverseSort">ActorName</th>
                    <th a href="" ng-click="orderByField='Format'; reverseSort = !reverseSort">Format</th>
                    <th a href="" ng-click="orderByField='Duration'; reverseSort = !reverseSort">Duration</th>
                    <th a href="" ng-click="orderByField='CreatedBy'; reverseSort = !reverseSort">CreatedBy</th>
                    <th a href="" ng-click="orderByField='Status'; reverseSort = !reverseSort">Status</th>
                    <th a href="" ng-click="orderByField='CreatedDate'; reverseSort = !reverseSort">Created</th>

                    <th a href="" ng-click="orderByField='updatestatus'; reverseSort = !reverseSort">Updated Status</th>

                </tr>
                <tr ng-repeat="Video in GulfUserVideolist | filter: searchKeyword | orderBy:orderByField:reverseSort">
                    <td>{{Video.Id}}</td>
                    <td>{{Video.MovementName}}</td>
                    <td>{{Video.ActorName}}</td>
                    <td>{{Video.Format}}</td>
                    <td>{{Video.Duration}}</td>
                    <td>{{Video.CreatedBy}}</td>
                    <td>{{Video.Status}}</td>
                    <td>{{Video.CreatedDate | date }} {{Video.CreatedDate | date: 'hh:mm' }}</td>
                    <td>{{Video.updatestatus}}</td>
                </tr>
            </table>
            <br />
        </div>
</div>

@section addscripts {
  @Scripts.Render("~/bundles/golfuser")
}
